/* App style sheet */

@import './utils/base.scss';
@import './utils/github-gist.css';


html {
	overflow: hidden;
}

body {
	overflow: auto;
}

.category {
	overflow: auto;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	padding: 2rem 1rem 2rem 2rem;
	font-size: 1.35rem;

	> .chapter {
		color: gray;
		text-decoration: none;

		&:hover, &.active {
			color: orange;
		}
	}

}

// book content style
.file-content {
	padding: 4rem 1rem 6rem 1rem;
	font-size: 1.35rem;
	line-height: 1.8;

	> .file-header {
		padding: 0 .5rem;
		border-bottom: 1px solid #9e9e9e;
	}

	h3, h4, h5, h6 {
		padding: .5rem;
		background-color: #e9ecef;
	}

	h1, h2 {
		text-align: center;
	}

	p {
		text-indent: 2em;

		> * {
			text-indent: 0;
		}

		> em {
			margin-right: .5rem;
		}
	}

	ul {
		padding-left: 2em;

		> li {
			list-style-type: disc;

			> ul {
				padding-left: 1em;

				> li {
					list-style-type: circle;
				}
			}
		}

	}

	blockquote {
		padding: .25rem 0 .25rem .5rem;
		margin: 1rem 0;
		background-color: #f8f9fa;
		border-left: 4px solid #2196f3;

		> p:last-child {
			text-indent: 0;
			margin-bottom: 0;
		}
	}

	pre {
		overflow: auto;
		padding: .5rem 0;
		margin: 1rem 0;
		background-color: #f8f9fa;

		> code {
			display: block;
			position: relative;
			padding: 0 0 0 3rem;

			/* line-number */
            &::before {
                content: attr(line-number);
                position: absolute;
                left: 0;
                width: 2.5rem;
                padding-right: .5rem;
                color: #bbb;
                text-align: right;
                border-right: 1px solid #ced4da;
            }
		}
	}

	.note {
		overflow: auto;
		padding: .5rem 1rem;
		margin: 1rem 0;
		border: 1px dashed black;

		> p:last-child {
			margin-bottom: 0;
		}
	}

	.code-file {
		text-align: right;

		> span {
			padding: .5rem;
			font-weight: bold;
			border: 1px solid black;
		}
	}

}